@model MayBay.Models.MayBay
@using System.Web.Mvc

@{
    ViewBag.Title = "Thêm khách sạn mới";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<h2>Thêm Máy Bay mới</h2>

@using (Html.BeginForm("Create", "MayBays", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <a>Loại Máy Bay:</a>

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.LoaiMayBay, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LoaiMayBay, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-primary" />
        </div>
    </div>
}