@model MayBay.Models.ChuyenBay

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>


<h3>Bạn có chắc chắn muốn xóa chuyến bay này ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Chuyến Bay
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCB)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
